<div class="container-fluid mt-4" id="about">
  <div class="row">
    <div class="col-sm-6">
      <h1 id="head" style="color: #33ffa9">Skills & Experience</h1>
      <div class="w-25" style="height: 3%; background-color: #33ffa9"></div>
      <p class="w-100">
        The main area of my expertise is in both Frontend
        and Backend Development.
      </p>
      <p class="w-100">
        HTML, CSS, JS (TypeScript), building small and medium web apps with
        Angular, React,Vue and coding interactive layouts.
      </p>
      <p class="w-100">
        I have also full-stack developer experience with asp.net core,react,
        angular,sql server,postgress sql and mongo db
      </p>
      <p class="w-100">
        I'm passionate about web design and development, and interested in
        mobile app development. As I grow as a developer, I hope to write clean, readable code that can be used by
        others and leveraged to create beautiful software
      </p>
    </div>
    <div class="col-sm-6 col-xs-12 ">
      <div class="row w-100">
        <div class="col-xs-12 col-sm-6 col-md-3 d-flex justify-content-center">
          <img src="../../assets/html.png" class="img-responsive" />
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 skill-icon d-flex justify-content-center">
          <img src="../../assets/css.png" class="img-responsive" />
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 skill-icon d-flex justify-content-center">
          <img src="../../assets/js.png" class="img-responsive" />
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 skill-icon d-flex justify-content-center">
          <img src="../../assets/angular.png" class="img-responsive" />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xs-3 col-sm-3 col-md-3 skill-icon d-flex justify-content-center">
          <img src="../../assets/react.png" class="img-responsive" />
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 skill-icon d-flex justify-content-center">
          <img src="../../assets/node.png" class="img-responsive" />
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 skill-icon d-flex justify-content-center">
          <img src="../../assets/NET_Core.png" class="img-responsive" />
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 skill-icon d-flex justify-content-center">
          <img src="../../assets/Typescript.png" class="img-responsive" />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xs-6 col-sm-3 col-md-3 skill-icon d-flex justify-content-center">
          <img src="../../assets/firebase.svg" class="img-responsive" />
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 skill-icon d-flex justify-content-center">
          <img src="../../assets/mongodb.png" class="img-responsive" />
        </div>
        <div class="col-xs-6 col-sm-12 col-md-3 skill-icon d-flex justify-content-center">
          <img src="../../assets/vue.svg.png" class="img-responsive mt-4" />
        </div>
      </div>
    </div>
  </div>
</div>
