@media screen and (min-width: 574px)
{
   #head
   {
       font-size: 4vw;
   }
}

@media screen and (max-width: 574px)
{
   #head
   {
       font-size: 10vw;
   }
}
p{
    color: #fff;
}
.img-responsive{
    
    display: block;
    max-width: 100%;
    height: auto;
    width: 100px;
}
.skills-section .skill-icon {
    /* padding-bottom: 15px; */
    height: 120px;
}
img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}