
/* width */
::-webkit-scrollbar {
    width: 6px;
    color:  #233554;
    background:  #233554;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#112240;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #233554;
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #233554;
  }